*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 12px;
	scroll-behavior: smooth;
}

html, body{
	width: 100vw;
	height: 100%;
	background-color: #303030;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

/*================= SCROLL PERFIL DERECHO =================*/
body{overflow-x: hidden;}

body::-webkit-scrollbar-track{ background-color: #303030}

body::-webkit-scrollbar{ width: 0.2rem;}

body::-webkit-scrollbar-thumb{ background-color: #f5f5f582;}

main{
	width: 100%;
	height: 100%;
}


/*----BLOQUE CABECERA----*/
header.cabecera{
	width: 100%;
	height: 100%;
	background-image: url(img/cabecera-pc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	position: relative;
}

.cabecera__flecha{
	width: 15px;
	height: 15px;
	border-right: 1.5px solid white;
	border-bottom: 1.5px solid white;
	position: absolute;
	left: 50%;
	bottom: 60px;
	transform-origin: center;
	/*transform: rotate(45deg) translate(-50%);*/
	transform: rotate(45deg) translate(-40%, 26%);
	-webkit-animation: movimientoFlecha 1.5s linear infinite;
	animation: movimientoFlecha 1.5s linear infinite;
}

@keyframes movimientoFlecha{ 100%{opacity: 0;}}

article.cuerpo{
	width: 100vw;
	min-height: 100%;
	padding-top: 30px;
}

.cuerpo__contenedor__linea{
	width: 100%;
	height: 14px;
	margin-bottom: 38px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.contenedor__linea__linea{
	display: inline-block;
	/*width: 778px;*/
	width: 26rem;
	/*height: 1.4px;*/
	border-top: 1.5px solid white;
	margin: 0 22px;
	background-color: #f5f5f5;
	opacity: 0.2;
}

.contenedor__linea__cuadrado{
	display: inline-block;
	width: 9px;
	height: 9px;
	flex-basis: 9px;
	flex-shrink: 0;
	border: 1.5px solid #f5f5f5;
	transform-origin: center;
	transform: rotate(45deg);
}

.contenedor__linea__score{
	color: #f5f5f5;
	margin: 0 22px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

section.cuerpo__baraja{
	max-width: 81.7rem;
	margin: 0 auto;
	padding: 0 50px;
	padding-bottom: 50px;
	display: grid;
	/*grid-template-columns: auto auto auto auto;*/
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	grid-gap: 20px;
	justify-content: center;
	position: relative;
}

/*.puzzlesResueltos{color: #bd9c57;}
.vistosPuzzles{color: #f5f5f5; opacity: 0.8;}
.totalPuzzles{opacity: 0.3;}*/

.baraja__contenedor__carta{
	/*width: 17rem;*/
	min-height: 26rem;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}

.contenedor__carta__carta{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contenedor__carta__carta:hover{opacity: 0.8;}

.contenedor__carta__carta:not(.carta--bloqueada):hover{
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.12);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.12);
}

.contenedor__carta__carta img{
	width: 100%;
	height: 100%;
}

.carta--bloqueada{
	opacity: 0.2;
	cursor: initial;
}

.carta--bloqueada:hover{opacity: 0.2;}

.carta--bloqueada:hover:before{opacity: 1;}

.carta--new{
	/*background-image: linear-gradient(115deg, transparent 0%, #979797 30%, #7a7a7a 70%, transparent 100%);*/
	background-image: linear-gradient(115deg, transparent -100%, #828282 30%, #9c9c9c 50%, transparent 200%);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: 300% 300%;
	-webkit-animation: movimientoFondoA 1.2s linear infinite;
	animation: movimientoFondoA 1.2s linear infinite;
}

@keyframes movimientoFondoA{
	0% {background-position: 0% 0%;}
	80% {background-position: 100% 100%;}
	100%{background-position: 100% 100%;}
}

/*.carta--new:hover{animation-play-state: paused;}*/

.carta--new img{mix-blend-mode: hard-light;}

/*.carta--new:hover img{mix-blend-mode: initial;}*/

.carta--resuelta{
	background-image: initial;
	background-color: #bd9c57;
}

/*.carta--resuelta:hover{animation-play-state: paused;}*/

.carta--resuelta img{mix-blend-mode: hard-light;}

.carta--resuelta img{mix-blend-mode: darken;}


/*----BLOQUE CARTA SELECCIONADA----*/

.cartaSeleccionada{
	display: none;
	width: 100%;
	height: 100%;
	/*background-color: #303030e0;*/
	background-color: #303030;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	animation: aparicionCartaSeleccionada 1s linear 1 forwards;
}

@keyframes aparicionCartaSeleccionada{
	0%{background-color: #30303000;}
	50%{background-color: #303030;}
}

.cartaSeleccionada.desaparicionCartaSeleccionada{
	animation: desaparicionCartaSeleccionada 1s linear 1 forwards;
}

@keyframes desaparicionCartaSeleccionada{
	50%{background-color: #303030;}
	100%{background-color: #30303000;}
}

.cartaSeleccionada__carta{
	opacity: 0;
	padding-top: 140px;
	width: 100%;
	height: calc(90% - 14rem);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	animation: aparicionCartaSeleccionada__carta 1s linear 1 forwards;
}

@keyframes aparicionCartaSeleccionada__carta{
	50%{opacity: 0}
	100%{opacity: 1}
}

.desaparicionCartaSeleccionada .cartaSeleccionada__carta{
	animation: desaparicionCartaSeleccionada__carta 1s linear 1 forwards;
}

@keyframes desaparicionCartaSeleccionada__carta{
	0%{opacity: 1}
	50%{opacity: 0}
}

.cartaSeleccionada__carta div img{
	min-height: 26rem;
	height: 100%;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.50);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 9999;
}

.cartaSeleccionada__carta div{
	min-height: 26rem;
	height: 100%;
	/*background-image: url("img/carta-color.jpg");*/
	/*background-size: contain;*/
	position: relative;
}

.cartaSeleccionada__carta .carta--resuelta::before{
	content: "";
	display: block;
    width: 70%;
    height: 80%;
    background-color: white;
    position: absolute;
    margin: 15%;
}

.cartaSeleccionada__contenedorInput{
	opacity: 0;
	width: 100%;
	height: 14rem;
	max-width: 380px;
	margin: 0 auto;
	background: linear-gradient(to bottom, rgba(48,48,48,0) 0%, rgba(48,48,48,1) 12%, rgba(48,48,48,1) 100%);
	/*display: flex;*/
    /*flex-direction: column;*/
    padding: 30px 50px;
   /* padding-top: 30px;*/
    animation: aparicionCartaSeleccionada__contenedorInput 1s linear 1 forwards;
}

@keyframes aparicionCartaSeleccionada__contenedorInput{
	50%{opacity: 0}
	100%{opacity: 1}
}

.desaparicionCartaSeleccionada .cartaSeleccionada__contenedorInput{
	animation: desaparicionCartaSeleccionada__contenedorInput 1s linear 1 forwards;
}

@keyframes desaparicionCartaSeleccionada__contenedorInput{
	0%{opacity: 1}
	50%{opacity: 0}
}

.cartaSeleccionada__contenedorInput div input, .cartaSeleccionada__contenedorInput input{
	text-align: center;
	margin: 7px 0;
	padding: 12px;
	/*border-radius: 30px;*/
	border: none;
	font-size: 1.2rem;
	width: 100%;
}


.cartaSeleccionada__contenedorInput div{
	display: flex;
}

.cartaSeleccionada__contenedorInput div input[type="button"]{
	background-color: #252525;
	color: #f5f5f5;
	transition: 0.1s;
	cursor: pointer;
	width: 100px;
	font-weight: bold;

}

.cartaSeleccionada__contenedorInput div input[type="submit"]{
	background-color: #252525;
	color: #f5f5f5;
	transition: 0.1s;
	cursor: pointer;
	margin-left: 12px;
}

.cartaSeleccionada__contenedorInput div input[type="submit"]:hover, .cartaSeleccionada__contenedorInput div input[type="button"]:hover{
	opacity: 0.5;
	background-color: #515151;
	/*color: #252525;*/
}

.cartaSeleccionada__contenedorInput input:focus{outline: none;}


/*----BLOQUE RESPUESTA----*/

.yLaRespuestaEs{
	transition: 1s;
	width: 100%;
	height: 100%;
	background-color: #303030;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}

.yLaRespuestaEs__correcto, .yLaRespuestaEs__incorrecto{
	height: 5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	display: none;
}

.yLaRespuestaEs__correcto span, .yLaRespuestaEs__incorrecto span{
	opacity: 0;
	animation: yLaRespuestaEs 2s linear 1 forwards;
	font-size: 4rem;
	color: #f5f5f5;
}

.yLaRespuestaEs__correcto span:nth-child(1){animation-delay: 1s;}
.yLaRespuestaEs__correcto span:nth-child(2){animation-delay: 1.7s;}
.yLaRespuestaEs__correcto span:nth-child(3){animation-delay: 2.4s;}
.yLaRespuestaEs__correcto span:nth-child(4){animation-delay: 3.2s;}
.yLaRespuestaEs__correcto span:nth-child(5){animation-delay: 2.1s;}
.yLaRespuestaEs__correcto span:nth-child(6){animation-delay: 2.9s;}
.yLaRespuestaEs__correcto span:nth-child(7){animation-delay: 1.2s;}
/*.yLaRespuestaEs__correcto span:nth-child(8){animation-delay: 2s;}*/

.yLaRespuestaEs__incorrecto span:nth-child(1){animation-delay: 2.4s;}
.yLaRespuestaEs__incorrecto span:nth-child(2){animation-delay: 3.2s;}
.yLaRespuestaEs__incorrecto span:nth-child(3){animation-delay: 1s;}
.yLaRespuestaEs__incorrecto span:nth-child(4){animation-delay: 1.7s;}
.yLaRespuestaEs__incorrecto span:nth-child(5){animation-delay: 2.4s;}
.yLaRespuestaEs__incorrecto span:nth-child(6){animation-delay: 3.2s;}
.yLaRespuestaEs__incorrecto span:nth-child(7){animation-delay: 2.1s;}
.yLaRespuestaEs__incorrecto span:nth-child(8){animation-delay: 2.9s;}
.yLaRespuestaEs__incorrecto span:nth-child(9){animation-delay: 1.2s;}
/*.yLaRespuestaEs__incorrecto span:nth-child(10){animation-delay: 2s;}*/


@keyframes yLaRespuestaEs{
	from{opacity: 0;filter: blur(6px);}
	to{opacity: 1;filter: blur(0px);}
}

.yLaRespuestaEs__btn__volverAIntentar{
	color: #f5f5f5;
	padding: 10px 20px;
}

/*----QUERIES----*/

@media screen and (max-width: 1024px){
	/*section.cuerpo__baraja{grid-template-columns: auto auto auto;}*/
}

@media screen and (max-width: 810px){
	header.cabecera{background-image: url(img/cabecera-movil.jpg);}

	/*section.cuerpo__baraja{grid-template-columns: auto auto;}*/
}

@media screen and (max-width: 560px){
	/*section.cuerpo__baraja{grid-template-columns: auto;}*/

	/*.contenedor__linea__linea{display: none;}*/
}

@media screen and (max-width: 528px){
	section.cuerpo__baraja {
		padding: 0 25px;
		padding-bottom: 50px;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		grid-gap: 20px;
	}

	.baraja__contenedor__carta {
		min-height: initial;
	}

	header.cabecera {
		background-size: 140%;
	}

}

@media screen and (max-width: 425px){
	section.cuerpo__baraja {
		padding: 0 25px;
		padding-bottom: 50px;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		grid-gap: 10px;
	}

	.baraja__contenedor__carta {
		min-height: initial;
	}

	header.cabecera {
		background-size: 140%;
	}

}

@media screen and (max-height: 685px){
	.cartaSeleccionada__carta {
		/* padding: 30px 0; */
		padding-top: 20px;
		height: calc(100% - 14rem);
	}
}

@media screen and (max-height: 500px){
	.cartaSeleccionada__carta {
		/* padding: 30px 0; */
		padding-top: 20px;
		height: calc(100% - 12rem);
	}

	.cartaSeleccionada__carta div img, .cartaSeleccionada__carta div {
		min-height: 20rem;
	}

	.cartaSeleccionada__contenedorInput {
		height: 12rem;
		padding: 20px 50px;
	}
}